data_dir  = "/var/lib/nomad"
bind_addr = "0.0.0.0"

advertise {
  http = "{{ hostvars[inventory_hostname]['cluster_private_ip'] }}"
  rpc  = "{{ hostvars[inventory_hostname]['cluster_private_ip'] }}"
  serf = "{{ hostvars[inventory_hostname]['cluster_private_ip'] }}"
}

server {
  enabled          = true
  bootstrap_expect = {{ groups['frogfish'] | length }}

  server_join {
    retry_join = [
{% for host in groups['frogfish'] %}
      "{{ hostvars[host]['cluster_private_ip'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
    ]
    retry_max      = 0
    retry_interval = "15s"
  }
}

client {
  enabled = true

  options = { "driver.allowlist" = "docker" }

  host_volume "valkey_sock" {
    path      = "/run/valkey"
    read_only = false
  }
}

consul {
  address          = "127.0.0.1:8500"
  auto_advertise   = true
  server_auto_join = true
  client_auto_join = true
}

vault {
  enabled = true
  address = "http://127.0.0.1:8200"
}